@media screen and (min-width: 1550px) {
  .bannerImg img {
    height: 319px; } }

@media screen and (max-width: 1550px) {
  .bannerImg img {
    height: 319px; } }

@media screen and (max-width: 1450px) {
  .bannerImg img {
    height: 288px; } }

@media screen and (max-width: 1350px) {
  .bannerImg img {
    height: 278px; } }

@media screen and (max-width: 1300px) {
  .bannerImg img {
    height: 267px; } }

@media screen and (max-width: 1250px) {
  .bannerImg img {
    height: 257px; } }

@media screen and (max-width: 1200px) {
  .bannerImg img {
    height: 246px; } }

@media screen and (max-width: 1150px) {
  .bannerImg img {
    height: 236px; } }

@media screen and (max-width: 1000px) {
  .bannerImg img {
    height: 204px; } }

@media screen and (max-width: 900px) {
  .bannerImg img {
    height: 200px; } }

@media screen and (max-width: 800px) {
  .bannerImg img {
    height: 163px; } }

@media screen and (max-width: 700px) {
  .bannerImg img {
    height: 139px; } }
